/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

.content {
    font-size:13px;
    font-weight:normal;
    line-height:18px;
    margin-bottom:9px;
}

body{
    font-family: Vollkorn, Georgia, Cambria, "Times New Roman", Times, serif;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

h1 a,
h2 a,
h3 a {
  color: #404040;
}
h1 a:hover,
h2 a:hover,
h3 a:hover {
  color: #0069d6;
  text-decoration: none;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
pre {
  line-height: 16px;
  white-space: pre;
  overflow-x: auto;
}
ol,
ul {
  margin-bottom: 9px;
}
ol li,
ul li {
  color: #404040;
}
.header {
  text-align: center;
}
.header h1 {
  font-size: 56px;
  margin-bottom: 40px;
}
.mail a code, a code.url {
  font-family:Monaco, Andale Mono, Courier New, monospace;
  font-size: inherit;
  font-weight:inherit;
  line-height:inherit;
  white-space: pre;
  overflow-x: auto;
  background-color:#fff;
  color:#0069d6;
  text-decoration:none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mail a:hover code, a:hover code.url {
    color:#00438a;
    text-decoration:underline;
}

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  text-align: center;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

