a {
    color: #000;
}

body {
    font-family: Vollkorn, Georgia, Cambria, "Times New Roman", Times, serif;
}


h1, h2, h3, h4 {
    font-family: Arial, Verdana, sans-serif;
    line-height: 1em;
}

i {
    vertical-align: middle;
}

blockquote {
    border-left: 1px solid #eee;
    font-style: italic;
    padding-left: 1em;
    margin-left: 1em;
}

table {
    width: 100%;
}

.table-wrapper {
    overflow: auto;
}

th {
    font-weight: normal;
    font-style: italic;
    padding: 0.5em 0;
}

td {
    padding 0.4em 0 0 10px;
}

thead {
    border-bottom: 1px solid #666;
}

code span {
    white-space: nowrap;
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
    word-wrap: normal;
}

p code, ul code {
    background: #eee;
    border: 1px solid #ccc;
    font-size: 0.8em;
    padding: 1px 1px 1px 1px;
    white-space: nowrap;
    vertical-align: middle;
}


.container {
    margin: 9em 0 3em 0;
}

.author-info {
    font-size: 0.9em;
    float: right;
    text-align: right;
    width: 165px;
}

.author-image {
    -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    border-radius: 95px;
    height: 70px;
    width: 70px;
}

.author-name {
    margin: 0.2em 0;
}

.author-name a {
    text-decoration: none;
}

.nav a {
    padding-left: 1em;
    text-decoration: none;
}

.disclaimer a {
    font-size: 1em;
    text-decoration: none;
    color: #BBB;;
}


.author-bio {
    color: #666;
    font-style: italic;
    line-height: 1.4em;
    margin-top: 0.5em;
}

.author-bio a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #666;
}

.right-column {
    max-width: 40em;
    padding: 0 4em;
}

.post-meta {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    overflow: auto;
    padding: 0;
}

.post-meta li, .post-meta a {
    color: #999;
}

.post-meta li {
    display: inline;
    float: left;
    overflow: auto;
    padding-left: 0.5em;
}

.post-meta li:first-child {
    padding-left: 0;
}

.post-meta i {
    padding-right: 0.4em;
}

.post {
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}

.feature-image {
    margin-bottom: 1em;
}

p.feature-image {
    margin-top: 2em;
}

.feature-image img {
    width: 99%;
}

p.feature-image img {
    border: 2px solid #333;
}

.title {
    letter-spacing: -1px;
    margin: 0;
}

.title a, .post-meta a {
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.title i {
    color: #999;
    font-size: 0.5em;
    vertical-align: middle;
}

.title-large {
    clear: left;
    font-size: 3em;
    letter-spacing: -2px;
    margin: 0;
}

.content {
    color: #333;
    font-size: 1.2em;
    line-height: 1.4em;
}

.highlight {
    font-size: 0.8em;
    line-height: 1.1em;
    margin: 0 0 0 3em;
}

.gutter .lineno {
    margin: 0 1em 0 0;
    color: #f09;
    background: #fff;
    background: #eee;
    font-size: 0.8em;
}

.in_prompt{
    font-size: 0.5em;
    color: #00a;
}

.output_prompt{
    font-size: 0.5em;
    color: #a00;
}

.content .source {
    font-style: italic;
    text-align: right;
}

.content .source:before {
    content: "- ";
}

.content img {
    display: block;
    margin: 0 auto;
}

.content .caption {
    font-size: 0.8em;
    line-height: 1.2em;
    margin: 0 auto 2em auto;
    width: 80%;
}

.content .discuss {
    font-style: italic;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.tags ul {
    list-style-type: none;
}

@media (max-width: 767px) {
    .container {
        margin: 3em 0;
    }

    .author-info {
        float: none;
        margin: 0 auto 3em auto;
        text-align: center;
        width: 80%;
    }

    .nav {
        margin: 0 auto 1em auto;
    }

    .nav a {
        padding: 0.5em;
    }

    .right-column {
        padding: 0 2em;
    }
}
