html {
  overflow-y: scroll;
}
#main {
  width: 820px;
  margin: 40px auto 180px;
}
h1 a,
h2 a,
h3 a {
  color: #404040;
}
h1 a:hover,
h2 a:hover,
h3 a:hover {
  color: #0069d6;
  text-decoration: none;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
pre {
  line-height: 16px;
  white-space: pre;
  overflow-x: auto;
}
ol,
ul {
  margin-bottom: 9px;
}
ol li,
ul li {
  color: #404040;
}
footer {
  text-align: center;
}
body.index header {
  text-align: center;
}
body.index header h1 {
  font-size: 56px;
  margin-bottom: 40px;
}
body.index #sidebar ol {
  list-style-type: none;
  margin-left: 0;
}
body.index #sidebar ol li {
  font-size: 16px;
  line-height: 1.25;
}
body.content header {
  float: right;
  position: relative;
  min-width: 150px;
}
body.content header h1 {
  text-align: right;
  font-size: 24px;
  line-height: 1;
  margin-top: 10px;
}
body.content #sidebar ul {
  list-style-type: none;
  margin-left: 0px;
}
body.content #sidebar ul ul {
  margin-left: 20px;
}
h2 #contact script a code {
  font-family:Monaco, Andale Mono, Courier New, monospace;
  font-size:12px;
  line-height: 16px;
  white-space: pre;
  overflow-x: auto;
}
