<div class=author-info>
    <h1 class=author-name><a href=/>{{ site.name }}</a></h1>
    <div class=nav>
        <a href="{{ site.github_url }}"><i class="fa fa-github"></i></a>
        <a href="{{ site.twitter_url }}"><i class="fa fa-twitter"></i></a>
        <a href="{{ site.email }}"><i class="fa fa-envelope"></i></a>
    </div>
    <p class=author-bio>{{ site.author_bio }}</p>

    <div class=nav>
        <a href=/><b>about</b></a><br />
        <a href="/posts"><b>blog</b></a><br />
        <a href="/publications"><b>pubs</b></a><br />
        <a href="/cscorley_cv.pdf"><b>cv.pdf</b></a>
    </div>

    <br /><br />
    <div class=disclaimer>
        <a href="/disclaimer">disclaimer</a>
    </div>
</div>
