<div class=author-info>
    <h1 class=author-name><a href=/>{{ site.name }}</a></h1>
    <div class=nav>
        <a href="{{ site.github_url }}"><i class=icon-github-alt></i></a>
        <a href="{{ site.twitter_url }}"><i class=icon-twitter></i></a>
        <a href="{{ site.email }}"><i class=icon-envelope></i></a>
    </div>
    <p class=author-bio>{{ site.author_bio }}</p>

    <div class=nav>
        <a href="/publications"><b>pubs</b></a><br />
        <a href="/cscorley_cv.pdf"><b>vita</b></a>
    </div>
</div>
