<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <!--            <a class="extra" href="/">home</a>-->
          </div>

          <div class="content">
          {{ content }}
          </div>

          <div class="footer">

              <a href="/disclaimer">Disclaimer</a>
              <br /><br />

            <a id="cs-alabama" href="http://cs.ua.edu/" title="Alabama - Roll Tide y'all"><img
            src="/images/ua-cs.png" width=200px/></a>
            <div class="contact">
              <p>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
