/* HTML5 ✰ Boilerplate */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #900; color:#fff; text-shadow: none; }
::selection { background: #900; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #900; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; font: 15px/22.5px 'Ovo', serif; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; text-decoration: none; }
a:hover { color: #036; text-decoration: underline; }


/**
 * Primary styles
 *
 * Author: Simon Laroche - planetzxy.com
 */

body {
	background: #CCC;
}

#page {
	width: 1000px;
	margin: 30px auto;
	background: #E7E7E7; /* nav background color */
	
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.3);
	-o-box-shadow: 0 5px 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

/* Header ***************************************/

#header {
	height: 144px;
	background: #FFF;
	padding: 10px;
}
#header img {
	margin-right:15px;
}
#header h4 {
	margin-bottom: 5px;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 15px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

#quickinfo {
	font: 13px/19.5px Arial, 'Helvetica Neue', Helvetica, sans-serif;
	vertical-align: middle;
	text-shadow: #EEE 0 1px 0;
	color: #666;
}
#quickinfo h4 {
	color: #444;
	text-shadow: none;
}
#quickinfo pre {
	margin: 0;
	padding: 0;
	font-size: 15px;
}

/* Nav ***************************************/

#nav {
	font-size: 17px;
	line-height: 22px;
	float: left;
	width: 160px;
	margin-top: 15px;
}
#nav ul {
	background: #EEE;
	margin-left: 20px;
	list-style: none;
	width: 100%;
}
#nav ul li span {
	padding-left: 5px;
}
#nav ul li a {
	background: #E7E7E7;
	width:140px;
	text-decoration:none;
	display:block;
	color:#900;
}
#nav ul li a:hover {
   color:#FFF;
}

/* Content ***************************************/

#content {
	float: right;
	background: #EEE;
	padding: 7px 10px;
	width: 820px;
	min-height: 300px;
}

#content hr {
	margin: 5px 0;
}

#content h3,
#content h4 {
	color: #900;
}
#content h3 {
	font-size: 18px;
	border-bottom: #900 1px dotted;
}
#content h4 {
	font-size: 16px;
	margin-top: 10px;
}
#content h5 {
	color: #333;
	font-size: 16px;
}

/* Publication ***************************************/

#content .pubList {
   text-align:justify;
   padding-left:0px;
}

#content .pubList li {
   list-style:none;
   padding-bottom:6px;
   padding-left:0px;
   padding-top:9px;
}

#content .pubList li:hover {
   list-style:none;
}

#content a.doiLink {
   font-style:normal;
   background:url("/~cscorley/media/pixmaps/doi.png") center right no-repeat;
   padding-right:14px;
   text-decoration:none;
   color:#900;
}
#content a.pdfLink {
   font-style:normal;
   background:url("/~cscorley/media/pixmaps/pdf.png") center right no-repeat;
   padding-right:19px;
   text-decoration:none;
   color:#900;
}
#content a.bibtexLink {
   font-style:normal;
   background:url("/~cscorley/media/pixmaps/zoom.gif") center right no-repeat;
   padding-right:19px;
   text-decoration:none;
   color:#900;
   font-size:.925em;
}
#content a.elsevierLink {
   background:url("/~cscorley/media/pixmaps/elsevier.png") center right no-repeat;
   padding-right:21px;
   text-decoration:none;
   color:#900;
}
#content a.ieeeLink {
   background:url("/~cscorley/media/pixmaps/ieee.png") center right no-repeat;
   padding-right:21px;
   text-decoration:none;
   color:#900;
}
#content a.ieeecsLink {
   background:url("/~cscorley/media/pixmaps/ieee-cs.jpeg") center right no-repeat;
   padding-right:21px;
   text-decoration:none;
   color:#900;
}
#content a.acmLink {
   background:url("/~cscorley/media/pixmaps/acm.png") center right no-repeat;
   padding-right:19px;
   text-decoration:none;
   color:#900;
}
#content a.iastedLink {
   background:url("/~cscorley/media/pixmaps/IASTED.png") center right no-repeat;
   padding-right:19px;
   text-decoration:none;
   color:#900;
}
#content a.scirpLink {
   background:url("/~cscorley/media/pixmaps/scirp.png") center right no-repeat;
   padding-right:19px;
   text-decoration:none;
   color:#900;
}
#content a.igiLink {
   background:url("/~cscorley/media/pixmaps/igi.jpg") center right no-repeat;
   padding-right:19px;
   text-decoration:none;
   color:#900;
}
#content a.confLink {
   background:url("/~cscorley/media/pixmaps/html_icon.png") center right no-repeat;
   padding-right:21px;
   text-decoration:none;
   color:#900;
}

/* Something ***********************************/

#content dl dd {
   margin-bottom:1em;
   padding-left: 27px;
}

/* Footer ***************************************/

#footer {
	background: #994e4d;
	padding: 10px 10px 7px;
	margin-bottom: 30px;
	text-align: center;
	color: #F1F1F1;
	font-size: 11px;
}

#footer a {
	color: #F1F1F1;
	text-decoration: none;
}
#footer a:hover {
	color: #FFF;
	border-bottom: #FFF 1px dotted;
}

.brackets {
	color: #AA6B6A;
	font-size: 50px;
	line-height: 37px;
	vertical-align: bottom;
}

/* End ***************************************/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
